
body {
  background-image: url(website-background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Russo One', sans-serif;
}

#title {
  font-size: 3em;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
}

.sidenav {
  height: 400px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#profile-pic {
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  /* width: 1200px; */
  /* text-align: center; */
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  border: 2px solid rgba(121, 116, 116, 0.77);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.45);
  /* margin-top: 65px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px; */
  padding: 10px;
  font-size: 19px;
}
.container-item1 {
    text-align: center;
}
.container-item2{
  list-style-type: none;
  text-align: center;
}
li {
  list-style-type: none;
}
a {
  color: white;
}
