
.main {
  background-image: url(website-background1.png);
  background-size: cover;
  color: white;
  font-family: 'Russo One', sans-serif;
}

#title {
  font-size: 3em;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
}

#profile-pic {
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  /* width: 1200px; */
  /* text-align: center; */
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  border: 2px solid rgba(121, 116, 116, 0.77);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.45);
}
.container-item1 {
    text-align: center;
}
.container-item2{
  list-style-type: none;
  text-align: center;
}
li {
  list-style-type: none;
}
a {
  color: white;
}
.slider-menu {
  position: relative;
}
.slider-menu .slider-parent {
  height: 70vh;
  max-width: 250px;
  width: 100%;
  background: #6C7A89;
  position: absolute;
  left: -250px;
  top: 50px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .2s all linear;
}
.slider-menu .slider-parent.active {
  visibility: visible;
  pointer-events: inherit;
  transition: .2s all ease-in-out;
  opacity: 1;
  left: 0;
}
